In [1]:
import pandas as pd
print('version: ' ,pd.__version__)

version:  2.2.3

In [2]:
list=[1,9,4,29,54,89,20]
myseries=pd.Series(list)
print(myseries)
print("Element at Index 3",myseries[3])

0     1
1     9
2     4
3    29
4    54
5    89
6    20
dtype: int64

In [3]:
# let's create own labels
import pandas as pd
a=[1,7,4]
myvar=pd.Series(a,index=["a","b","c"])
print(myvar)
print(myvar["b"])

a    1
b    7
c    4
dtype: int64
7

In [4]:
employee={
    "id":1,
    "name":"Chanadana",
    "email":"chandana@gmail.com",
    "address":"Mysore",
    "Salary":98000
}
data=pd.Series(employee)
print(data)
print("id",data["id"])
print("name",data["name"])
print("email",data["email"])
print("address",data["address"])
print("Salary",data["Salary"])

id                          1
name                Chanadana
email      chandana@gmail.com
address                Mysore
Salary                  98000
dtype: object
id 1
name Chanadana
email chandana@gmail.com
address Mysore
Salary 98000

In [ ]:
# A Dataframe is a 2D tabular data structure in pandas,similar to an Excel sheet or SQL table . It allows to store , manipulate,and analyze structured data

In [ ]:
sample={
    "id":[1,2,3,4],
    "name":["A","B","C","D"

In [6]:
data = {
    "Name":["Chandana","Charan","Keshava"],
    "Age":[25,30,40],
    "City":["Mandya","Mysore","Banglore"]
}
 
df = pd.DataFrame(data)
print(df)

       Name  Age      City
0  Chandana   25    Mandya
1    Charan   30    Mysore
2   Keshava   40  Banglore

In [7]:
data={
    "name":["alex","bob","catty","david"],
    "age":[20,40,23,14]
}
myvar=pd.DataFrame(data)
print(myvar)
print("First Row")
print(myvar.loc[0])
print(myvar.loc[[0,1]])

    name  age
0   alex   20
1    bob   40
2  catty   23
3  david   14
First Row
name    alex
age       20
Name: 0, dtype: object
   name  age
0  alex   20
1   bob   40

In [8]:
print(df.loc[[0,2]])

       Name  Age      City
0  Chandana   25    Mandya
2   Keshava   40  Banglore

In [9]:
user_data={
    "name":["alex","catty","Bob"],
    "age":[23,24,23]
}
df1=pd.DataFrame(user_data,index=["user1","user2","user3"])
print(df1.loc["user3"])
print(df1)

name    Bob
age      23
Name: user3, dtype: object
        name  age
user1   alex   23
user2  catty   24
user3    Bob   23

In [11]:
user_data={
    "name":["alex","catty","Bob"],
    "age":[23,24,23],
    "salary":[980345,87446,66838],
    "email":["alex@gmail.com","catty@hgmail.com","bob@gmail.com"]
}
df1=pd.DataFrame(user_data)
print(df1)

    name  age  salary             email
0   alex   23  980345    alex@gmail.com
1  catty   24   87446  catty@hgmail.com
2    Bob   23   66838     bob@gmail.com

In [14]:

data=[
    ["alex",25,"New York"],
    ["Bob",30,"Los Angeles"],
    ["Charlie",46,"Chicokago"],
    ["David",34,"Houstan"]
]
df=pd.DataFrame(data,columns=["Name","Age","City"])
print(df)

      Name  Age         City
0     alex   25     New York
1      Bob   30  Los Angeles
2  Charlie   46    Chicokago
3    David   34      Houstan

In [15]:
student_data=pd.read_csv('student_data.csv')
print(student_data)

     id          first_name    last_name                       email  \
0     1  Reggie Margerrison  Margerrison      rmargerrison0@live.com
1     2         Jody Cossor       Cossor   jcossor1@seattletimes.com
2     3  Anneliese Scrivner     Scrivner       ascrivner2@flavors.me
3     4      Kippy Fishburn     Fishburn    kfishburn3@microsoft.com
4     5    Fritz Vasilmanov   Vasilmanov  fvasilmanov4@discovery.com
..  ...                 ...          ...                         ...
95   96       Janos McFeate      McFeate   jmcfeate2n@altervista.org
96   97     Moise Silvester    Silvester    msilvester2o@addthis.com
97   98     Joyan Basindale    Basindale          jbasindale2p@is.gd
98   99        Bell Hearnah      Hearnah       bhearnah2q@flavors.me
99  100       Gordie Coomes       Coomes  gcoomes2r@odnoklassniki.ru

        gender  grade
0       Female    5.3
1       Female    1.2
2       Female    6.5
3       Female    6.1
4   Non-binary    8.2
..         ...    ...
95  Non-binary    5.4
96        Male    2.5
97      Female    5.6
98      Female    1.9
99        Male    2.5

[100 rows x 6 columns]

In [16]:
# directly taking tabular structure
student_data.head()
# print(student_data.head())

,id,first_name,last_name,email,gender,grade
0,1,Reggie Margerrison,Margerrison,rmargerrison0@live.com,Female,5.3
1,2,Jody Cossor,Cossor,jcossor1@seattletimes.com,Female,1.2
2,3,Anneliese Scrivner,Scrivner,ascrivner2@flavors.me,Female,6.5
3,4,Kippy Fishburn,Fishburn,kfishburn3@microsoft.com,Female,6.1
4,5,Fritz Vasilmanov,Vasilmanov,fvasilmanov4@discovery.com,Non-binary,8.2

In [17]:
print(student_data.to_string())

     id             first_name      last_name                            email       gender  grade
0     1     Reggie Margerrison    Margerrison           rmargerrison0@live.com       Female    5.3
1     2            Jody Cossor         Cossor        jcossor1@seattletimes.com       Female    1.2
2     3     Anneliese Scrivner       Scrivner            ascrivner2@flavors.me       Female    6.5
3     4         Kippy Fishburn       Fishburn         kfishburn3@microsoft.com       Female    6.1
4     5       Fritz Vasilmanov     Vasilmanov       fvasilmanov4@discovery.com   Non-binary    8.2
5     6            Raviv Lohan          Lohan         rlohan5@reverbnation.com         Male    9.6
6     7        Annetta Slorach        Slorach      aslorach6@cocolog-nifty.com      Agender    8.1
7     8       Shanna Whitewood      Whitewood  swhitewood7@constantcontact.com       Female    8.4
8     9        Monika Sharvill       Sharvill          msharvill8@cbslocal.com     Bigender    1.3
9    10  Shaylah Grisenthwaite  Grisenthwaite          sgrisenthwaite9@cdc.gov       Female    9.6
10   11       Tandy O'Driscole     O'Driscole          todriscolea@harvard.edu       Female    9.9
11   12           Jude Cormode        Cormode               jcormodeb@wisc.edu         Male    4.8
12   13       Christen Hubbert        Hubbert           chubbertc@illinois.edu       Female    5.2
13   14          Desmund Lauks          Lauks         dlauksd@sciencedaily.com         Male    9.2
14   15            Britt Obray          Obray               bobraye@cdbaby.com       Female    8.4
15   16           Selby Vankin         Vankin                   svankinf@is.gd         Male    4.0
16   17            Sax Tingley        Tingley                stingleyg@wsj.com         Male    7.6
17   18         Roddy Ormesher       Ormesher          rormesherh@google.co.uk  Genderfluid    5.2
18   19      Sophronia Bedbury        Bedbury          sbedburyi@mediafire.com       Female    2.1
19   20       Gregorius Grewer         Grewer               ggrewerj@imgur.com         Male    8.2
20   21          Colet Peoples        Peoples           cpeoplesk@netvibes.com         Male    6.2
21   22         Cathi Lavender       Lavender         clavenderl@clickbank.net       Female    8.3
22   23         Riccardo Clark          Clark            rclarkm@indiegogo.com         Male    2.5
23   24      Ethelred Kowalski       Kowalski              ekowalskin@wisc.edu         Male    5.3
24   25         Ashlin Marsden        Marsden             amarsdeno@tumblr.com         Male    9.2
25   26        Leonerd Ewbanck        Ewbanck             lewbanckp@flavors.me         Male    7.1
26   27         Yance Servante       Servante            yservanteq@seesaa.net         Male    7.2
27   28           Vito Lysaght        Lysaght            vlysaghtr@twitter.com         Male    2.4
28   29           Colin Ebertz         Ebertz                  cebertzs@qq.com         Male    9.2
29   30         Addia Burhouse       Burhouse             aburhouset@mysql.com       Female    6.1
30   31         Othella Lownds         Lownds            olowndsu@illinois.edu  Genderfluid    9.5
31   32        Bennett Gothard        Gothard                bgothardv@mlb.com         Male   10.0
32   33              Stern Tew            Tew                   steww@nasa.gov         Male    8.8
33   34        Billy Brownsell      Brownsell        bbrownsellx@princeton.edu         Male    4.7
34   35     Jerald Braithwaite    Braithwaite      jbraithwaitey@shinystat.com         Male    5.1
35   36           Etty Harbage        Harbage            eharbagez@cornell.edu       Female    5.7
36   37        Bernard Cassels        Cassels          bcassels10@mashable.com     Bigender    5.7
37   38           Berget Daber          Daber                bdaber11@gmpg.org       Female    4.9
38   39         Paddy McGrayle       McGrayle             pmcgrayle12@lulu.com         Male    9.3
39   40        Menard Gwillyam       Gwillyam           mgwillyam13@nature.com         Male    6.4
40   41            Benni Kikke          Kikke               bkikke14@blogs.com       Female    6.5
41   42          Barry Gostick        Gostick               bgostick15@who.int         Male    4.7
42   43        Yolande Plowell        Plowell             yplowell16@prlog.org       Female    1.6
43   44        Fraser Hercules       Hercules          fhercules17@youtube.com         Male    6.8
44   45        Marie-ann Eaddy          Eaddy          meaddy18@yellowbook.com       Female    6.2
45   46            Byram Lotze          Lotze               blotze19@nifty.com         Male    1.8
46   47      Xenos De Filippis    De Filippis                 xde1a@utexas.edu         Male    6.4
47   48           Camel Connal         Connal          cconnal1b@google.com.br       Female    1.7
48   49        Bartlett Linder         Linder       blinder1c@businesswire.com         Male    6.7
49   50          Harriot Sizey          Sizey             hsizey1d@arizona.edu  Genderfluid    9.6
50   51            Cristy Elsy           Elsy          celsy1e@statcounter.com       Female    2.6
51   52      Frederica Rolance        Rolance              frolance1f@jugem.jp       Female    5.7
52   53            Dolly Bucky          Bucky               dbucky1g@baidu.com       Female    1.4
53   54         Karlens Kynsey         Kynsey            kkynsey1h@auda.org.au  Genderfluid    8.6
54   55       Augustine Louthe         Louthe             alouthe1i@usnews.com         Male    8.0
55   56          Myrtle Dibble         Dibble        mdibble1j@studiopress.com     Bigender    9.3
56   57       Albertina Dobbin         Dobbin                  adobbin1k@51.la       Female    8.0
57   58       Durante Paxeford       Paxeford        dpaxeford1l@economist.com         Male    4.6
58   59          Donal Rubenov        Rubenov          drubenov1m@bandcamp.com         Male    8.0
59   60        Gill Dellatorre     Dellatorre        gdellatorre1n@addthis.com       Female    5.4
60   61       Cherice Tollfree       Tollfree           ctollfree1o@jalbum.net       Female    4.9
61   62            Fran Cuphus         Cuphus               fcuphus1p@jugem.jp         Male    1.7
62   63          Alexandr Wain           Wain                awain1q@desdev.cn         Male    4.0
63   64        Evelyn Shearman       Shearman           eshearman1r@dyndns.org   Non-binary    2.7
64   65         Simeon Aldrich        Aldrich               saldrich1s@aol.com         Male    9.4
65   66         Avrit Roswarne       Roswarne          aroswarne1t@smugmug.com       Female    3.6
66   67          Elihu Gething        Gething            egething1u@uol.com.br         Male    7.7
67   68               Noe Leas           Leas                nleas1v@yahoo.com         Male    2.2
68   69             Dyna Spens          Spens                 dspens1w@bbb.org  Genderqueer    1.3
69   70        Lorianna Yetman         Yetman          lyetman1x@discovery.com       Female    3.4
70   71          Jereme Huggin         Huggin               jhuggin1y@java.com         Male    2.9
71   72      Riobard Clementel      Clementel          rclementel1z@usnews.com         Male    7.5
72   73           Ashla Talman         Talman             atalman20@jalbum.net       Female    4.4
73   74           Timmy Height         Height               theight21@bing.com       Female    4.3
74   75          Allie Heaslip        Heaslip              aheaslip22@time.com      Agender   10.0
75   76          Duky Ivanchov       Ivanchov       divanchov23@wikispaces.com         Male    3.1
76   77           Coral Sibary         Sibary            csibary24@example.com       Female    2.7
77   78            Matty Roffe          Roffe           mroffe25@mediafire.com       Female    6.2
78   79           Ruddie Morse          Morse           rmorse26@parallels.com         Male    3.8
79   80            Allin Galea          Galea            agalea27@addtoany.com         Male    1.6
80   81         Loralie Monday         Monday        lmonday28@marketwatch.com       Female    5.8
81   82           Brod Hadcock        Hadcock         bhadcock29@discovery.com         Male    1.4
82   83       Rolland Clipsham       Clipsham           rclipsham2a@cdbaby.com         Male    4.3
83   84          Rebecka Hysom          Hysom              rhysom2b@amazon.com       Female    3.6
84   85          Jeannine Curd           Curd                  jcurd2c@nps.gov       Female    5.4
85   86         Bennett Erratt         Erratt          berratt2d@posterous.com         Male    4.6
86   87        Anallese Piwell         Piwell            apiwell2e@tinyurl.com       Female    8.7
87   88         Tamarah Fowler         Fowler              tfowler2f@cisco.com       Female    9.0
88   89         Darrel Marrett        Marrett          dmarrett2g@freewebs.com         Male    5.6
89   90          Adamo Fielder        Fielder            afielder2h@boston.com         Male    6.6
90   91         Nikola Heymann        Heymann        nheymann2i@altervista.org         Male    1.0
91   92           Donna Dykins         Dykins          ddykins2j@reference.com       Female    1.7
92   93            Rebe Eilles         Eilles             reilles2k@github.com       Female    4.0
93   94     Miof mela Malinson       Malinson                 mmela2l@1688.com       Female    1.7
94   95            Banky Orsay          Orsay          borsay2m@infoseek.co.jp         Male    3.6
95   96          Janos McFeate        McFeate        jmcfeate2n@altervista.org   Non-binary    5.4
96   97        Moise Silvester      Silvester         msilvester2o@addthis.com         Male    2.5
97   98        Joyan Basindale      Basindale               jbasindale2p@is.gd       Female    5.6
98   99           Bell Hearnah        Hearnah            bhearnah2q@flavors.me       Female    1.9
99  100          Gordie Coomes         Coomes       gcoomes2r@odnoklassniki.ru         Male    2.5

In [18]:
print(student_data.head(3)) ##give first 3 rows

   id          first_name    last_name                      email  gender  \
0   1  Reggie Margerrison  Margerrison     rmargerrison0@live.com  Female
1   2         Jody Cossor       Cossor  jcossor1@seattletimes.com  Female
2   3  Anneliese Scrivner     Scrivner      ascrivner2@flavors.me  Female

   grade
0    5.3
1    1.2
2    6.5

In [19]:
#print last 2 rows
print(student_data.tail(2))

     id     first_name last_name                       email  gender  grade
98   99   Bell Hearnah   Hearnah       bhearnah2q@flavors.me  Female    1.9
99  100  Gordie Coomes    Coomes  gcoomes2r@odnoklassniki.ru    Male    2.5

In [20]:
#number of rows and columns
print(student_data.shape)

(100, 6)

In [21]:
# summary
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   gender      100 non-null    object
 5   grade       100 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB
None

In [24]:
# statistical data
print(student_data.describe())

               id       grade
count  100.000000  100.000000
mean    50.500000    5.484000
std     29.011492    2.658918
min      1.000000    1.000000
25%     25.750000    3.325000
50%     50.500000    5.400000
75%     75.250000    8.000000
max    100.000000   10.000000

In [27]:
student_data[['id','first_name','grade']].head()

   id          first_name  grade
0   1  Reggie Margerrison    5.3
1   2         Jody Cossor    1.2
2   3  Anneliese Scrivner    6.5
3   4      Kippy Fishburn    6.1
4   5    Fritz Vasilmanov    8.2

In [28]:
student_data['grade'].describe() ##describe only for grade

count    100.000000
mean       5.484000
std        2.658918
min        1.000000
25%        3.325000
50%        5.400000
75%        8.000000
max       10.000000
Name: grade, dtype: float64

In [32]:
import pandas as pd
df = pd.read_csv('order_data.csv')
df['quantity'].fillna(1, inplace=True)
df['total_amount'] = df['price'] * df['quantity']
most_sold_product = df.groupby('product')['quantity'].sum().idxmax()
total_sales_per_category = df.groupby('category')['total_amount'].sum()
orders_above_5000 = df[df['total_amount'] > 5000]

FileNotFoundError: [Errno 2] No such file or directory: 'order_data.csv'