In [1]:
import pandas as pd
# create a student dataframe by reading csv file
df=pd.read_csv('marks_data.csv')
print(df.head()) # check first 5 rows

   STUDENT_ID             NAME  MATH  SCIENCE  ENGLISH  TOTAL  \
0           1   Marlee Glamart    96       30       86    8.8
1           2    Loria Mullany    76       91       39    5.5
2           3   Cindee Luipold    33       89        6    0.6
3           4  Prince Dimitrov    38       79       75    0.2
4           5   Buck Cornewall    52       41       71    2.4

              GRADE
0       Right-sized
1    well-modulated
2  Business-focused
3       Distributed
4     Team-oriented

In [2]:
df.isna()

    STUDENT_ID   NAME   MATH  SCIENCE  ENGLISH  TOTAL  GRADE
0        False  False  False    False    False  False  False
1        False  False  False    False    False  False  False
2        False  False  False    False    False  False  False
3        False  False  False    False    False  False  False
4        False  False  False    False    False  False  False
..         ...    ...    ...      ...      ...    ...    ...
95       False  False  False    False    False  False  False
96       False  False  False    False    False  False  False
97       False  False  False    False    False  False  False
98       False  False  False    False    False  False  False
99       False  False  False    False    False  False  False

[100 rows x 7 columns]

In [4]:
df['total']=df[['MATH','SCIENCE','ENGLISH']].sum(axis=1)
print(df[['NAME','MATH','SCIENCE','ENGLISH','TOTAL']].head())

              NAME  MATH  SCIENCE  ENGLISH  TOTAL
0   Marlee Glamart    96       30       86    8.8
1    Loria Mullany    76       91       39    5.5
2   Cindee Luipold    33       89        6    0.6
3  Prince Dimitrov    38       79       75    0.2
4   Buck Cornewall    52       41       71    2.4

In [31]:
def assign_grade(total):
    if total>=7.5:
        return 'A'
    elif total>=6:
        return 'B'
    elif total>=5:
        return 'C'
    else:
        return 'D'

In [32]:
df['GRADE']=df['TOTAL'].apply(assign_grade)

In [33]:
df[['NAME','TOTAL','GRADE']].tail()

               NAME  TOTAL GRADE
95       Ernie Thew    5.1     C
96   Holli Davidson    6.2     B
97  Randolph Witson    7.2     B
98    Monti Howship    3.7     D
99      Hank Carson    2.6     D

In [34]:
grade_a_students=df[df['GRADE']=='A']
print(("no of students secured grade B: " , len(grade_a_students)))

('no of students secured grade B: ', 29)

In [35]:
print("Total No of students failed: ",len(df[df['GRADE']=='D']))

Total No of students failed:  43

In [36]:
math_max=max(df['MATH'])
print(math_max)

100

In [37]:
print(df[df['MATH']==math_max])

    STUDENT_ID          NAME  MATH  SCIENCE  ENGLISH  TOTAL GRADE  total
37          38  Debi Plampin   100       98       14    8.6     A    212