In [1]:
print("Hello World")

Hello World

In [11]:
# Variables
num1=10
num2=20.89
name="Mind Sprint"

print("Number1: ",num1)
print(f"Number2 {num2}")
print("Name: ",name)

## data type
print(type(num1))
print(type(num1))
print(type(name))

Number1:  10
Number2 20.89
Name:  Mind Sprint
<class 'int'>
<class 'int'>
<class 'str'>

In [4]:
X,Y,Z="Orange","Banana","Cherry"
print(X,Y,Z)

Orange Banana Cherry

In [6]:
X=Y=Z="Orange"
print(X,Y,Z)

Orange Orange Orange

In [8]:
fruits=["apple","Banana","cherry"]
X,Y,Z=fruits
print(X,Y,Z)
print(X)
print(X+Y+Z)

apple Banana cherry
apple
appleBananacherry

In [9]:
## Value Assignments to Variables
x,y,z="test1","test2","test3"
print(X," ",Y," ",Z)

## Assign same values to munltiple variables
p=q=r="temp"
print(p," ",r," ",q)

apple   Banana   cherry
temp   temp   temp

In [14]:
# Taking input from user
num1=input("Enter the First  number")
num2=input("Enter the second number")

n1=int(num1)
n2=int(num2)


print("Addition: ",n1+n2)

Enter the First  number 45
Enter the second number 3

Addition:  48

In [17]:
num1=10
num2=20
addition=num1+num2
print("Addition:" ,addition)

Subtraction = num1-num2
print("Subtraction:" ,Subtraction)

multiplication=num1*num2
print("Multiplication:" ,multiplication)

Division=num1/num2
print("Division:" ,Division)

modulus = num1%num2
print("Modulus:" ,modulus)

Exponentiation = num1**num2
print("Exponentiation:" , Exponentiation)

floor_division=num1//num2
print("Floor Division:",floor_division)

Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5
Modulus: 10
Exponentiation: 100000000000000000000
Floor Division: 0

In [18]:
num1=50
num2=80
print("Is num1 equal to num2?" , num1==num2)

print("Is num1 not equal to num2?" , num1 != num2)

print("Is num1 greater than  num2?" , num1 > num2)

print("Is num1 less than num2?" , num1 < num2)

print("Is num1 greater than or equal to num2?" , num1 >= num2)

print("Is num1 lesser than or equal to num2?" , num1 <= num2)

Is num1 equal to num2? False
Is num1 not equal to num2? True
Is num1 greater than  num2? False
Is num1 less than num2? True
Is num1 greater than or equal to num2? False
Is num1 lesser than or equal to num2? True

In [19]:
num=10
print("Initial value: ",num)
num+=5
print("After increment: ",num)
num=-3
print("After decrement: ",num)
num*=2
print("After munltiplication: ",num)
num**=2
print("after exponent: ",num)

Initial value:  10
After increment:  15
After decrement:  -3
After munltiplication:  -6
after exponent:  36

In [20]:
email=input("Enter your Email")
password=input("Enteryour password")
print(email=="admin@gmail.com" and password=="admin@123")

Enter your Email admin@gmail.com
Enteryour password admin@123

True

In [21]:
email=input("Enter your Email")
password=input("Enteryour password")
print(email=="admin@gmail.com" or password=="admin@123")

Enter your Email chandam@gmail.com
Enteryour password cggah123

False

In [23]:
num=10
if num > 0:
    print("positive number")

positive number

In [24]:
num= -5
if num >0:
    print("Positive number")
else:
    print("Negative number")

Negative number

In [25]:
# Ternary (shorthand) if statement
num = 5
print("Positive") if num>0 else print("negative")

Positive

In [26]:
# Nested if
num=15
if num>0:
    if num % 2== 0:
        print("Positive and even number")
    else:
        print("positive and odd number")
else:
    print("Non Positive Number")

positive and odd number

In [27]:
# Pass Statement

num = 5
if num > 0:
    pass
else:
    print("This won't execute")

In [33]:
marks=int(input("Enter marks:"))
if marks>=90 and marks<=100:
    print("Congratulations!! Grade A")
elif marks>=70 and marks<89:
    print("Grade B")
elif marks >=50 and marks<69:
    print("Grade C")
else:
    print("Fail")

Enter marks: 100

Congratulations!! Grade A

In [38]:
num=int(input("Enter the number"))
if num>0:
    if num % 2== 0:
        print("even number")
    else:
        print("odd number")
elif num<0:
    print("Negative number")
    
else:
    print("Zero")

Enter the number 28

even number

In [39]:
mrp=int(input('total mrp'))
discount=0
if mrp>=500:
    discount=20
elif 200>=mrp <500:
    discount=10
discount_price=mrp*discount/100
final_amount=mrp-discount_price
print("Total Discount given" ,discount,'%')
print("You saved",discount_price)
print("final amount",final_amount)

total mrp 800

Total Discount given 20 %
You saved 160.0
final amount 640.0

In [40]:
#While loop

count=1
while count<=5:
    print("Count:",count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [41]:
for num in range(1,6):
    print("Number:",num)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

In [42]:
# while with break
count=0
while count < 5:
    if count == 3:
        print("Breaking at count =" ,count)
        break
    print("Count is",count)
    count +=1

Count is 0
Count is 1
Count is 2
Breaking at count = 3

In [43]:
# for with break
for num in range(1,11):
    if num == 5:
        print("Breaking at number:", num)
        break
    print("Number:",num)

Number: 1
Number: 2
Number: 3
Number: 4
Breaking at number: 5

In [47]:
num1=int(input("Enter the first number"))
num2=int(input("Enter the Second Number"))
sum=0
for i in range(num1,num2+1):
    if i % 2==0:
        sum+=i
print(sum)

Enter the first number 2
Enter the Second Number 10

30

In [ ]:
for i in range (1,6):

In [48]:
def hello():
    print("Hello World")
hello()

Hello World

In [50]:
def greet(name):
    print("Good Noon:",name)
greet("Chandana ")

Good Noon: Chandana

In [51]:
# Multiple parameters
def add_numbers(a,b):
    result=a+b
    print(f"The Sum of {a} and {b} is {result}")

add_numbers(5,3)

The Sum of 5 and 3 is 8

In [53]:
# Default parameter
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet("Alice")
greet()

Hello, Alice!
Hello, Guest!

In [52]:
def multiply_number(a,b):
    return a*b
result = multiply_number(4,5)
print("The Product is : ",result)

The Product is :  20

In [54]:
# Passing arguments using keywords
def describe_person(name,age,city):
    print(f"{name} is {age} years old and lives in {city}.")
# calling using keyword arguments
describe_person(age=20,city="Mysore" ,name="charan")

charan is 20 years old and lives in Mysore.

In [55]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n -1)
 
result = factorial(5)
print("Factorial of 5 is:", result)

Factorial of 5 is: 120

In [59]:
def account(user_id,password):
    if user_id == "Bob" and password ==1234:
        print("Login Successful")
    else:
        print("Invalid user_id")
user_id=input("Enter the user id")
password=input("Enter the password")
account(user_id,password)

Enter the user id bob
Enter the password 1234

Invalid user_id

In [10]:
#List
mylist = [10,20,30,40]
print(mylist)
print(mylist[2])
mylist.append(60)
print(mylist)
#insert element at some index
mylist.insert(2,25)
print(mylist)
#Data Removal
data=mylist.pop() ## its removing last element which you save in some variable
print(data, "Removed")
print(len(mylist)) # checking Length
print("Minimum Value", min(mylist))
print("Maximum Value", max(mylist))
print(sum(mylist))

[10, 20, 30, 40]
30
[10, 20, 30, 40, 60]
[10, 20, 25, 30, 40, 60]
60 Removed
5
Minimum Value 10
Maximum Value 40
125

In [74]:
mydata=[1,2,3,4,5,6,7,8,9]
for num in mydata:
    print(num)
print("using 

i=0
while i<len(mydata):
    print(mydata[i])
    i+=1

1
2
3
4
5
6
7
8
9
using while loop
1
2
3
4
5
6
7
8
9

In [75]:
mydata.sort(reverse=True)
print(mydata)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [76]:
mydata.reverse()
print(mydata)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
numbers=[10,20,30,40]
if 20 in numbers:
    print("20 is in the list")
# Sort
numbers.sort()
print(numbers)

# Reverse
numbers.sort(reverse=True)
print(numbers)

20 is in the list
[10, 20, 30, 40]
[40, 30, 20, 10]

In [91]:
todo_list = []
 
 
def add_todo():
    todo = input("Enter a to-do item: ")
    todo_list.append(todo)
    print(f'To-do "{todo}" added.')
 
def remove_todo():
    todo = input("Enter the to-do item to remove: ")
    if todo in todo_list:
        todo_list.remove(todo)
        print(f'To-do "{todo}" removed.')
    else:
        print(f'To-do "{todo}" not found.')
 
def get_all_todos():
    return todo_list
 
def menu():
    while True:
        print("\nTo-Do List Menu:")
        print("1. Add a to-do")
        print("2. Remove a to-do")
        print("3. View all to-dos")
        print("4. Exit")
        choice = input("Enter your choice (1-4): ")
 
        if choice == '1':
            add_todo()
        elif choice == '2':
            remove_todo()
        elif choice == '3':
            print("Current to-dos:", get_all_todos())
        elif choice == '4':
            print("Exiting the to-do list program.")
            break
        else:
            print("Invalid choice. Please enter a number between 1 and 4.")
 
 
menu()

To-Do List Menu:
1. Add a to-do
2. Remove a to-do
3. View all to-dos
4. Exit

Enter your choice (1-4):  4

Exiting the to-do list program.

In [9]:
list=[1,2,3,4,5]
print(sum(list))

15

In [34]:
name=('alex','bob','catty','devid')

print(name)
 
mixed=('test',True,78,3.14,[2,3,4])

print(mixed)
 
#Empty tuple

empty_tup=()

print(empty_tup)

#tupe with single value

data = ('hell',) #, is mandatory

print(data)

print(type(data))
 
print('Access values',name[1])

print('Access values',name[-1])

print('Access values',name[0:3])

##name = list(name)

print(name)

name.append('ella')
name = tuple(name)
print(name)

('alex', 'bob', 'catty', 'devid')
('test', True, 78, 3.14, [2, 3, 4])
()
('hell',)
<class 'tuple'>
Access values bob
Access values devid
Access values ('alex', 'bob', 'catty')
('alex', 'bob', 'catty', 'devid')

AttributeError: 'tuple' object has no attribute 'append'

In [33]:
number_tuple = (10, 20, 30)
number_list = list(number_tuple)

number_list.append(40)

number_tuple = tuple(number_list)
print(number_tuple)

TypeError: 'list' object is not callable

In [96]:
tuple1=(1,2,3)
tuple2=(4,5,6)
concat=tuple1+tuple2
print(concat)

new_tuple=("temp",)*4
print(new_tuple)

(1, 2, 3, 4, 5, 6)
('temp', 'temp', 'temp', 'temp')

In [1]:
number_tuples = (10, 20, 30)
number_list = list(number_tuples)

number_list.append(40)

number_tuples = tuple(number_list)
print(number_tuples)

(10, 20, 30, 40)

In [2]:
list=[1,2,3,4,5,6,8]
print(list.count(3))

print(list.index(3))

1
2

In [7]:
# Employee Dictionary

employee={
    "eid":1001,
    "name":"john Doe",
    "department":"I.T",
    "salary":45678
}
print(employee)
print('Employee Id' ,employee['eid'])
print('Employee Name:' , employee.get('name'))

{'eid': 1001, 'name': 'john Doe', 'department': 'I.T', 'salary': 45678}
Employee Id 1001
Employee Name: john Doe

In [4]:
print('Manager:',employee.get('manager'))
print('Manager:',employee.get('Manager',"Chandana"))

Manager: None
Manager: Chandana

In [5]:
data=employee.popitem()
print(data,'removed')
print(employee)

('salary', 45678) removed
{'eid': 1001, 'name': 'john Doe', 'department': 'I.T'}

In [8]:
data=employee.pop('salary')
print(data,'removed')
print(employee)

45678 removed
{'eid': 1001, 'name': 'john Doe', 'department': 'I.T'}

In [16]:
student={
    "id":1,
    "name":"alex",
    "email":"alex@gmail.com",
    "address":"Mysore"
}
for key in student:
    print(key,":",student[key])

id : 1
name : alex
email : alex@gmail.com
address : Mysore

In [14]:
print(student.items())

dict_items([('id', 1), ('name', 'alex'), ('email', 'alex@gmail.com'), ('address', 'Mysore')])

In [17]:
for key,value in student.items():
    print(key,":",value)

id : 1
name : alex
email : alex@gmail.com
address : Mysore

In [21]:
if "address" in student:
    print("address is present in student object")

address is present in student object

In [36]:
myset = {404, 200, 500, 302, 403, 500}
print(myset)

{403, 404, 500, 200, 302}

In [38]:
for num in myset:
    print(num)
 
myset.add(501)
 
print(myset)

403
404
500
501
200
302
{403, 404, 500, 501, 200, 302}

In [39]:
# adding multiple values
 
myset.update([303,402])
 
print(myset)
 
# Removal of elements
 
myset.remove(303)
 
print(myset)

{402, 403, 404, 500, 501, 200, 302, 303}
{402, 403, 404, 500, 501, 200, 302}

In [40]:
myset.add(501)
print(myset)
myset.update([303,402])
print(myset)
myset.remove(303)

{402, 403, 404, 500, 501, 200, 302}
{402, 403, 404, 500, 501, 200, 302, 303}

In [41]:
myset.clear()
print(myset)

set()

In [42]:
myset.discard(303)
print(myset)
myset.pop()
print(myset)

set()

KeyError: 'pop from an empty set'

In [43]:
if len(myset)>0:
    myset.pop()
else:
    print('set is empty')

set is empty

In [44]:
myset.update([1,2,3,4,5])
print(myset)

{1, 2, 3, 4, 5}

In [45]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
 
print(A | B)
print(A.union(B))
 
print(A & B)
print(A.intersection(B))
 
print(A -B)
print(A.difference(B))
 
print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [47]:
employees = {
    "Alice": 70000,
    "Bob": 80000,
    "Charlie": 75000
}
# add new employee
employees["David"] = 85000
#update employee
employees["Alice"] = 72000
# remove employee
del employees["Charlie"]
# print all employee
for name, salary in employees.items():
    print(f"Employee: {name}, Salary: {salary}")

Employee: Alice, Salary: 72000
Employee: Bob, Salary: 80000
Employee: David, Salary: 85000

In [48]:
employee={
 
    "emp1": {"id":101,"name":"Honey","department":"IT","salary":250000},
    "emp2": {"id":102,"name":"Aarushi","department":"HR","salary":200000},
    "emp3": {"id":103,"name":"Gugu","department":"Finance","salary":300000},
    "emp4": {"id":104,"name":"Dugu","department":"Sales","salary":300000}
}
def add_employee(id,name,department,salary):
    n=len(employee)
    employee["emp"+str(n+1)]={"id":id,"name":name,"department":department,"salary":salary}
    print("Employee added successfully")
def print_employees(employees):
    for emp in employees:
        print("**********************")
        for key,value in employees[emp].items():
            print(key,":",value)
 
add_employee(105,"Oreo","Marketing",200000)
print_employees(employee)
has context menu

SyntaxError: invalid syntax (508578648.py, line 20)

In [49]:
employee={
 
    "emp1": {"id":101,"name":"Honey","department":"IT","salary":250000},
    "emp2": {"id":102,"name":"Aarushi","department":"HR","salary":200000},
    "emp3": {"id":103,"name":"Gugu","department":"Finance","salary":300000},
    "emp4": {"id":104,"name":"Dugu","department":"Sales","salary":300000}
}
def add_employee(id,name,department,salary):
    n=len(employee)
    employee["emp"+str(n+1)]={"id":id,"name":name,"department":department,"salary":salary}
    print("Employee added successfully")
 
 
def update_employee(id,salary):
    for emp in employee:
        if employee[emp]["id"]==id:
            employee[emp]["salary"]=salary
            print("Employee updated successfully")
            break
 
def remove_employee(id):
    for emp in employee:
        if employee[emp]["id"]==id:
            del employee[emp]
            print("Employee removed successfully")
            break
 
def print_employees(employees):
    for emp in employees:
        print("**********************")
        for key,value in employees[emp].items():
            print(key,":",value)
 
 
add_employee(105,"Oreo","Marketing",200000)
update_employee(101,550000)
remove_employee(101)
print_employees(employee)

Employee added successfully
Employee updated successfully
Employee removed successfully
**********************
id : 102
name : Aarushi
department : HR
salary : 200000
**********************
id : 103
name : Gugu
department : Finance
salary : 300000
**********************
id : 104
name : Dugu
department : Sales
salary : 300000
**********************
id : 105
name : Oreo
department : Marketing
salary : 200000